<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BancomerMovilAndroid" parallel="tests" thread-count="15">

    <!--NOTE: Change the parameters with "#######" and verify the ports-->
    <!-- With this structure you can run multiple devices at the same time.-->
    <test name="Regresion - WEB">
        <parameter name="browserName" value=""/>
        <parameter name="deviceName" value=""/>
        <parameter name="platformName" value=""/>
        <parameter name="platformVersion" value=""/>
        <parameter name="udid" value="#########"/>
        <parameter name="automationName" value=""/>
        <parameter name="port" value=""/>
        <parameter name="author" value="FernandoXr"/>
        <parameter name="wdaLocalPort" value=""/>
        <classes>
            <class name="Web.CP001">
                <methods>
                    <include name="abrirPagina"/>
                </methods>
            </class>

        </classes>
    </test>

    <test name="Regression - ANDROID">
        <parameter name="browserName" value=""/>
        <parameter name="deviceName" value="Xiaomi"/>
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="9.0"/>
        <parameter name="udid" value="5da66a2d"/>
        <parameter name="automationName" value="UiAutomator2"/>
        <parameter name="port" value="4724"/>
        <parameter name="author" value="FernandoXr"/>
        <parameter name="wdaLocalPort" value="8100"/>

        <classes>
            <class name="Android.CP001">
                <methods>
                    <include name="getPurchaseComparation"/>
                  <!--  <include name="getStadistics24hrs"/>
                    <include name="getGraphCoins"/>
                    <include name="getCurrentGainersCoin"/>-->
                </methods>
            </class>

        </classes>
    </test>





</suite>


